<div class="wrapper" style="padding-top:0">
    <footer class="hero">
        <div class="hero-body">
            <h4 class="hero-section section-title">Stay in touch</h4>
            <div class="hero-content">
                <h1><a href="mailto:rafaelml@rafamatias.com">rafael@rafamatias.com</a></h1>
                <p>He can work with minimum supervision with all levels of management to tackle ambiguous situations. Interests in Computer Science, Math, Startups, Innovation and Entrepreneurship.</p>
                <p>In 2016, he won <a href="https://www.fiap.com.br/mba/startupone/">Startup One prize</a> as the best startup for agriculture.</p>
            </div>
        </div>
    </footer>
</div>
