@import url('//fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

html {
  font-family: Inter, sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  letter-spacing: -0.25px;
  border-top: 8px solid #01b15f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inter, sans-serif;
  letter-spacing: -0.03em;
  font-weight: 500;
}

h1 {
  font-size: 1.8em;
}

a {
  color:#01b15f;
}
a:hover {
  color: red;
}

p {
  line-height: 1.6em;
}

video:focus {
  outline: none;
}
