.unlink, .unlink:hover {
  color: black;
  text-decoration: none;
}

.wrapper {
  max-width: 960px;
  margin:0 auto;
  padding: 1.4em;
}

.section-title, .experience-date {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.experience-date {
  margin-top:  0;
}

.grid, .hero {
  border-bottom: 1px solid #CCCACC;
  padding: 2.4em 0;
}

.grid-body, .hero-body {
  display: grid;
  
  gap: 1.5em;
  row-gap: 2.5em;
}

.grid-body {
  grid-template-columns: 33% auto 31%;
}

.hero-body {
  grid-template-columns: 33% auto auto;
}

.hero-section {
  grid-column: 1;
}

.hero-content {
  grid-column: 2 / 3;
}

.hero-full {
  padding: 1.6em;
}

.hero-full > div {
  text-align: center;
  margin: 1.6em 0;
}

.hero-full > div > video {
  border: .6em solid #ffffff88;
  border-radius: 20px;
}

@media only screen and (max-width: 640px) {
  .grid-body, .hero-body, .hero-full {
    display: block
  }

  .experience-item, .hero-section {
    margin-bottom: 3em;
  }

  .experience-item:last-child {
    margin-bottom: 0;
  }
}

