---
layout: default
---

<div id="home" class="wrapper" style="padding-bottom: 0px">

    <header id="about" class="hero">
        <div class="hero-body">
            <h1 class="hero-section"><a class="unlink" href="/">{{ site.name }}</a></h1>
            <div class="hero-content">
                <h1>Software developer and designer.</h1>
                <p>He works with the Android Open Source Project (AOSP) for <a href="https://en.wikipedia.org/wiki/Motorola_Mobility">Motorola Mobility</a>. He developed
                    Android applications for handheld devices used by millions worldwide.</p>
                <h2><a class="link" title="/rafamatias" href="http://linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a></h2>
                <h2><a class="link" title="@rafamatias" href="http://github.com/{{ site.linkedin_username }}">Github</a></h2>
                <h2><a class="link" title="/rafamatias" href="http://dribbble.com/{{ site.linkedin_username }}">Dribbble</a></h2>
            </div>
        </div>
    </header>

    <section class="hero">
        <div class="hero-body">
            <h4 class="hero-section section-title">Selected work</h4>
            <div class="hero-content">
                <h1>Settings app</h1>
                <p>In a global team, he has been working on device settings application embedded on Motorola devices. Main roles: Fix issues introduced by Android Open Source Project (AOSP) and implement new device settings features. </p>
                <p>The latest feature is a permission management app for foldable devices, specifically for small external displays. <a href="https://youtu.be/p4TMq6Rqiog">See Motorola Razr 5G</a></p>
            </div>
        </div>

        <div class="hero-full" style="background-color:#00EE80; min-height: 540px;">
            <div>
                <video width="200" autoplay loop muted>
                    <source src="assets/videos/external-display.webm" type="video/webm">
                    <source src="assets/videos/external-display.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </section>

    <section class="hero">
        <div class="hero-body">
            <h4 class="hero-section section-title">Articles</h4>
            <div class="hero-content">
                <h2><a href="https://rafamatias.medium.com/gradle-android-build-variables-done-right-d0c0e296ee93">Android: Gradle build variables done right</a></h2>
            </div>
        </div>
    </section>

    <section class="grid experience">
        <div class="grid-body">
            <h4 class="hero-section section-title">Work &amp; Experience</h4>
            <div class="experience-item">
                <h1>Motorola Mobility</h1>
                <h2 class="experience-date">current · 2018</h2>
                <p>Android Software Engineer working with teams from China, India, Brazil and USA to release new disruptive mobile devices around the world. <a href="https://youtu.be/p4TMq6Rqiog">New Motorola Razr 5G</a></p>
            </div>
            <div class="experience-item">
                <h1>Hummingbird</h1>
                <h2 class="experience-date">2018 · 2017</h2>
                <p>It was an unusual startup, with no guidance. He worked as Software Engineer and also Product Owner, trying to raise a new product. <br/><em><small>*Failure. The product did not survive.</small></em></p>
            </div>
            <div class="experience-item">
                <h1>Nextel</h1>
                <b class="experience-date">2017</b>
                <p>Senior Android Developer for the most innovative mobile carrier in Brazil. In 2017, He worked in a smart squad using Clean Archictecture and TDD.</p>
            </div>
            <div class="experience-item">
                <h1>Oi</h1>
                <b class="section-title">2017 · 2016</b>
                <p>Another huge mobile carrier in Brazil. Main goal: Set an environment for mobile development best practices and software continuous integration. <br/><em><small>*Failure. I couldn't implement anything without a team and projects.</small></em></p>
            </div>
            <div class="experience-item">
                <h1>Valor PRO</h1>
                <b class="experience-date">2016 · 2014</b>
                <p>Stock market platform from a famous financial newspaper from Brazil. He developed apps for both Android and iOS platforms and tried to keep the main concept of these kind of product: High speed.</p>
            </div>
            <div class="experience-item">
                <h1>Valor Econômico</h1>
                <b class="experience-date">2016 · 2010</b>
                <p>The most influential financial newspaper in Latin America. He worked with many technologies like <a href="https://nodejs.org/">Node.js</a>, Swift, PHP, etc. However, it was not considered Full Stack Development.</p>
            </div>
            <div class="experience-item">
                <h1>SBT</h1>
                <b class="experience-date">2015</b>
                <p>Television station in Brazil. In 2016, he implemented social login using Facebook and Twitter APIs, and a feature that users could interact with TV shows in real time.</p>
            </div>
            <div class="experience-item">
                <h1>VM2 Agency</h1>
                <b class="experience-date">2010 · 2008</b>
                <p>Full service digital agency. He worked with the old-fashioned Front-end Development: Pure HTML and CSS, and <a href="http://vanilla-js.com/">Vanilla JS</a>. He also worked with <a href="https://en.wikipedia.org/wiki/Search_engine_optimization">SEO (Search Engine Optimization)</a>. <br/><em><small>*a time when IE6 was a king.</small></em></p>
            </div>
        </div>
    </section>
</div>
